<a href="https://colab.research.google.com/github/mamoma2021/DevOps-EAD/blob/main/soulCodeEmbraer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
'''Variaveis - Posso armazenar dados simples-  string(str) , numeros inteiros(int),
ponto flutuante(float), boleno(bol)'''

print('Ola Mundo!')

nome = 'Marcia'
idade = 37
altura = 1.70

print(nome, idade, altura)

Ola Mundo!
Marcia 37 1.7

In [4]:
print(type(nome))
print(type(idade))
print(type(altura))

<class 'str'>
<class 'int'>
<class 'float'>

In [12]:
#Conversão de tipos

n = 10   #int
x = '10' #str

print(type(n))
print(type(x))

n = str(n)
print(type(n))


print (x + str(n))
print(int(n) + int(x))

<class 'int'>
<class 'str'>
<class 'str'>
1010
20

In [14]:
# Entrade de dados

nome = input('Digite o seu nome completo:')
idade = int(input('Digite a sua idade:'))

print(type(nome))
print(type(idade))

print ('Olá', nome, 'você tem', idade, 'anos')

Digite o seu nome completo:maria
Digite a sua idade:1
<class 'str'>
<class 'int'>
Olá maria você tem 1 anos

In [16]:
''' Operadores aritméticos
Soma +
Subtração -
Multiplicação *
Divisão /
Exponenciação **
Resto da divisão %'''

#Soma

num1 = 10
num2 = 20

soma = num1 + num2
print(soma)

#Subtração

sub = num2 - num1
print(sub)

#Multiplicação

mult = num1 * num2
print(mult)

#Divisão

div = num2 / num1
print(div)

#Exponenciação

exp = num1 ** num2
print(exp)

#Resto da divisão

res = num1 % num2
print(res)

30
10
200
2.0
100000000000000000000
10

In [18]:
#Criar um algoritmo que leia dois numeros float e retorne as 4 operações básicas da matemática

''' ler o primeiro numero tipo float
    ler o segudo numero tipo float

    somar o primeiro numero com o segundo numero e jogar em uma variavel soma
    subtrair o primeiro numero com o segundo numero e jogar em uma variavel sub
    multiplicar o primeiro numero com o segundo numero e jogar em uma variavel mult
    dividir o primeiro numero com o segundo numero e jogar em uma variavel div

    exibir cada uma das variaveis na tela(soma,sub,mult,div) '''

num1 = float(input('Digite o primeiro numero:'))
num2 = float(input('Digite o segudo numero:'))

soma = num1 + num2
sub = num1 - num2
mult = num1 * num2
div = num1 / num2

print('Soma:', soma)
print('Subtração:', sub)
print('Multiplicação:', mult)
print('Divisão:', div)

Digite o primeiro numero:10
Digite o segudo numero:10
Soma: 20.0
Subtração: 0.0
Multiplicação: 100.0
Divisão: 1.0

In [22]:
# Criar um algoritmo que exiba apenas a parte decimal de uma divisão de 10 por 3
''' Criar uma variavel que receba o valor 10
    Criar uma variavel que receba o valor 3
    operacao1 = se eu dividir o primeiro nomero pelo segundo / recebe a divisão total com os decimais
    operacao2 = se eu dividir o primeiro nomero pelo segundo // recebe apenas a parte inteira da divisão
    operacao1 - operacao2  = parte_decimal
    '''

n1 = 10
n2 = 3

operacao1 = n1 / n2
operacao2 = n1 // n2

parte_decimal = operacao1 - operacao2

print('Resultado da operacao 1:', operacao1)
print('Resultado da operacao 2:', operacao2)
print('Parte decimal:', parte_decimal)

Resultado da operacao 1: 3.3333333333333335
Resultado da operacao 2: 3
Parte decimal: 0.3333333333333335